# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# C/C++ files
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

# Shell scripts
*.sh text eol=lf

# Windows files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.node binary
*.exe binary
*.dll binary
*.lib binary
*.so binary
*.dylib binary
*.a binary
